<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>RestaurantPage</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}"  href="/css/style.css">

</head>
<body>

<header class="header">
  <a href="#" class="logo">

    <img th:src="@{/images/logo.png}" alt="">
  </a>



  <div class="welcome">
    <span sec:authentication="name"></span>

  </div>

  <div class="icons">


    <a th:href="@{/logout}"><div class="fas fa-sign-out-alt" id="user-btn2"> </div></a>



  </div>


</header>

<section class="aside">
  <li><i class="fas fa-users"></i><a href="/admin/users">Użytkownicy</a> </li>
  <li><i class="fas fa-list"></i><a href="/admin/products">Produkty</a> </li>
  <li><i class="fas fa-shopping-cart"></i><a href="/admin/orders">Zamówienia</a> </li>


</section>

<section class="homee" id="homee">

  <div class="container">

    <h1 class="nag">Dodaj produkt</h1>
    <form th:action="@{/saveProduct}"  th:object="${product}" method="post">

      <input type="text" th:field="*{name}"  class="search-form"  placeholder="Nazwa">
      <input type="text" th:field="*{price}"  class="search-form"  placeholder="Cena">
      <!--      <input type="text" th:field="*{image}"  class="form-control" placeholder="Adres">-->

      <button type="submit" class="btn1" th:text="Zapisz"></button>


    </form>



  </div>
</section>





</body>
</html>