<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RestaurantPage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"  href="/css/style.css">

</head>
<body>

<header class="header">
    <a href="#" class="logo">

        <img th:src="@{/images/logo.png}" alt="">
    </a>



    <div class="welcome">
     <span>Panel Admina: <span  sec:authentication="name"></span></span>
        <!--    <p>Has role: <span sec:authentication="authorities"></span></p>-->

    </div>

    <div class="icons">


        <a th:href="@{/logout}"><div class="fas fa-sign-out-alt" id="user-btn2"> </div></a>



    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>
</header>

<section class="home" id="home">


    <div class="items">
        <li><i class="fas fa-users"></i><a href="#">Użytkownicy</a> </li>
        <li><i class="fas fa-list"></i><a href="#">Produkty</a> </li>
        <li><i class="fas fa-shopping-cart"></i><a href="#">Zamówienia</a> </li>


    </div>
        <!--    <div class="container">-->

<!--        <h1 class="nag">Panel Admina</h1>-->

        <table class="table">

            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Adres</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>

            </tr>

            </thead>

            <tbody>
            <tr th:each="user: ${userlist}">
                <th th:text="${user.id}" scope="row"></th>
                <td th:text="${user.firstName}" ></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.address}" ></td>
                <td th:text="${user.email}" ></td>
                <td th:text="${user.password}" ></td>

            <td>
                +         <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>

            </td>


            </tr>
            </tbody>
        </table>

    </div>
</section>

<section class="about" id="about">


        <div class="content">

        </div>

</section>



</body>
</html>