<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<header class="header">
    <a href="#" class="logo">

        <img src="images/logo.png" alt="">
    </a>


    <div class="icons">
        <a href="signin.html"><div class="fas fa-user" id="user-btn"> </div></a>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>

    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>
</header>

<section class="home" id="home">

    <div class="container">

        <h1 class="nag">Zarejestruj się</h1>
        <form th:action="@{/register}"  th:object="${user}" method="post">
            <input type="text" th:field="*{firstName}"  class="form-control"  placeholder="Imię">
            <input type="text" th:field="*{lastName}"  class="form-control"  placeholder="Nazwisko">
            <input type="text" th:field="*{address}"  class="form-control" placeholder="Adres">

            <input type="text" th:field="*{email}"  class="form-control" placeholder="Email">

            <input type="password" th:field="*{password}" required autofocus="autofocus" class="form-control"  placeholder="Hasło"><br></br>


            <a th:href="@{|/login|}"><button type="submit" class="submit">Zarejestruj się</button> </a>
                <span th:utext="${successMessage}"></span>
                <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
                    <ul th:each="data : ${bindingResult.getAllErrors()}">
                        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                    </ul>
                </div>
        </form>


    </div>

</section>





</body>
</html>